APP_HOST=0.0.0.0
APP_PORT=8080
APP_BASE_URL=http://127.0.0.1:8080

BOT_TOKEN=change_me
BOT_PUBLIC_NAME=Izotop Connect
BOT_SUPPORT_URL=https://t.me/change_me
BOT_BUY_URL=https://t.me/change_me
BOT_ADMIN_IDS=123456789

TRIBUTE_WEBHOOK_SECRET=change_me
TRIBUTE_SIGNATURE_HEADER=trbt-signature

REMNAWAVE_BASE_URL=https://panel.izotop-connect.online
REMNAWAVE_TOKEN=change_me
REMNAWAVE_INTERNAL_SQUAD_UUID=
REMNAWAVE_EXTERNAL_SQUAD_UUID=
REMNAWAVE_USER_PREFIX=tg
REMNAWAVE_DEFAULT_DEVICE_LIMIT=3
REMNAWAVE_SSL_IGNORE=false

DATABASE_URL=sqlite+aiosqlite:///./data/izotop_connect.db
